# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
.env
.env.*

# Streamlit
.streamlit/

# Data
/data/uploads/
/data/vector_dbs/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.sqlite3
*.db
